@media (max-width:767px){
    .caraImg{
        height: 300px;
    }
    footer{
        padding: 1rem;
    }
    footer .col-12{
        padding: 0;margin-top: 1rem;
    }
    .fs_custom{
        font-size: 16px;
    }
}

@media (max-width:575px){
    .row{margin: 0 !important;}
    .rgr3w3wr{padding: 0 !important;}
    .col-12{padding: 0 !important;}
    .iuwefwegofwef{flex-direction: column-reverse;}
    .kttfukfu{height: 200px;}
    .fs_custom{
        font-size: 12px;
    }
    h1{
        font-size: 22px;
    }
    .iyegfiwegfiwey{
        margin-top: 1rem !important;flex-direction: column-reverse !important;
    }
    .product_img{
        height: 200px;
    }
}